$primary: #278aca;
@import "~bootstrap/scss/bootstrap";

p {
  margin-bottom: 0 !important;
}
.w-60 {
  width: 60% !important;
}
.w-40 {
  width: 40% !important;
}

.zim-99 {
  z-index: -99;
}
.zi-99 {
  z-index: 99;
}
.zi-n9 {
  z-index: -9;
}
.zi-p9 {
  z-index: 9;
}
.cmb-n1 {
  margin-bottom: -1.5rem !important;
}

.hover-border-white {
  border: 1px solid $primary !important;
  &:hover {
    border-color: #fff !important;
    transition: ease-in-out 0.25s;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 8% !important;
}

.part-2 {
  background: #fff url("../images/background-1.jpg") 100% 100% no-repeat;
  width: 100%;
}
.part-3 {
  background: #f3f3f3 url("../images/background-2.jpg") 100% 100% no-repeat;
  width: 100%;
}
.part-4 {
  background: #fff url("../images/background-3.jpg") 100% 100% no-repeat;
  width: 100%;
}

.footer-bg {
  background: #fff url("../images/footer-background.jpg") 100% 100% repeat-x;

  width: 100%;
}
.footer-pattern {
  background: #fff url("../images/footer-background.jpg") 100% 0% repeat-x;
  width: 100%;
}

.section-heading::before {
  content: "";
  width: 17%;
  height: 2px;
  background-color: $primary;
  position: absolute;
  bottom: -12px;
  left: 0;
  z-index: 999;
}
.section-heading::after {
  content: "";
  width: 13%;
  height: 2px;
  background-color: $primary;
  position: absolute;
  bottom: -16px;
  left: 0;
  z-index: 999;
}
.footer-link::after {
  content: "";
  width: 2px;
  height: 70%;
  background-color: #2372a8;
  position: absolute;
  top: 30%;
  right: 0;
  z-index: 99;
}
.w-90 {
  width: 90% !important;
}

.my-btn {
  background-color: #fff;
  color: $primary;
  border: 4px solid rgba(255, 255, 255, 0.452) !important;
  border-radius: 50% !important;
  padding: 3px 8px;
  &:hover {
    background-color: $primary;
    color: #fff;
    border: 4px solid #2789ca80 !important;
    transition: ease-in-out 0.25s;
  }
}

.w-2 {
  width: 2% !important;
}
.w-10 {
  width: 10% !important;
}

.text-hover-white:hover {
  color: #fff !important;
  transition: ease-in-out 0.15s !important;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .part-3 {
    background: #f3f3f3 url("../images/background-2.jpg") 99% 0% no-repeat !important;
  }
  .part-4 {
    background: #fff url("../images/background-3.jpg") 50% 0% no-repeat !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}

@media (max-width: 575.98px) {
  .part-2 {
    background: #fff url("../images/background-1.jpg") 100% 20% no-repeat !important;
  }
  .part-3 {
    background: #f3f3f3 url("../images/background-2.jpg") 100% 0% no-repeat !important;
  }
  .part-4 {
    background: #fff url("../images/background-3.jpg") 45% 0% no-repeat !important;
  }
}
